.panel {
    position: relative;
    border: 1px solid #ededed;
    border-radius: var(--border-radius);
    padding: 1.5rem 1rem;
    background-color: var(--color-white);

    &--custom {
        box-shadow: 0 .5rem 1rem rgba(#000, .25);

        .badge {
            background-color: transparent;
            color: var(--color-info);
        }
    }

    &--small {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__counter {
        font-size: 3rem;
        font-weight: var(--font-weight-semibold);
    }

    &__description {
        margin-bottom: .5rem;
        font-weight: var(--font-weight-regular);
    }
}
