extends layout/app.pug

block content
    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Recorded Cases
        div(class='row')
            div(class='col')
                div(class='panel panel--small mb-1')
                    form(class='form form--right')
                        label(for='showRows') Show rows
                        select(id='showRows' class='select-show-rows')
                            option(value='100' selected) 100
                            option(value='500') 500
                            option(value='1000') 1000
                            option(value='5000') 5000
                div(class='table__container panel mb-1')
                    table(class='table')
                        thead
                            tr
                                th(scope='col') Case Code
                                th(scope='col') Status
                                th(scope='col') Age
                                th(scope='col') Sex
                                th(scope='col') Province
                                th(scope='col') Region
                                th(scope='col') Date Reported
                        tbody(class='cases')
                            template(id='row-template')
                                tr
                                    td(class='case-code')
                                    td #[span(class='badge text-uppercase')]
                                    td(class='age')
                                    td(class='text-capitalize sex')
                                    td(class='text-capitalize prov')
                                    td(class='text-uppercase region')
                                    td(class='date')

                div(class='text-secondary text-center mb-2') - #[span(class='cases-total')] -
                button(class='btn btn--dark btn--block btn-load-more' type='button') Load more

append scripts
    script(type='module' src='js/case.js')
    script(type='module' src='js/page-cases.js')
