extends layout/app.pug

block content
    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Recorded Cases
        div(class='row')
            div(class='col')
                div(class='table__container panel mb-1')
                    table(class='table')
                        thead
                            tr
                                th(scope='col') Patient No.
                                th(scope='col') Status
                                th(scope='col') Age
                                th(scope='col') Sex
                                th(scope='col') Location
                                th(scope='col') Travel History
                                th(scope='col') Admitted To
                                th(scope='col') Date Reported
                        tbody(class='cases')
                div(class='text-secondary text-center mb-2') - #[span(class='cases-total')] -
                button(class='btn btn--dark btn--block load-more' type='button') Load more

append scripts
    script(src='js/cases.js')
