extends layout/app.pug

block content
    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Total Stats #[small(class='text-secondary') Updated as of #[em(class='last-update') -]]
        div(class='row')
            div(class='col md-4 mb-1')
                div(class='panel custom-panel text-center')
                    div(class='panel__counter mb-1 confirmed') -
                    div(class='panel__description text-secondary') Confirmed Cases
                    div(class='badge') Active: #[span(class='active') -]
            div(class='col md-4 mb-1')
                div(class='panel custom-panel text-center')
                    div(class='panel__counter mb-1 text-danger deaths') -
                    div(class='panel__description text-secondary') Deaths
                    div(class='badge') New: #[span(class='deaths-today') -]
            div(class='col md-4 mb-1')
                div(class='panel custom-panel text-center')
                    div(class='panel__counter mb-1 text-success recovered') -
                    div(class='panel__description text-secondary') Recovered
                    div(class='badge') New: #[span(class='recovered-today') -]

    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Total Cases of Filipinos Abroad #[small(class='text-secondary') #[em Learn more on #[a(class='text-secondary' href='https://en.wikipedia.org/wiki/COVID-19_pandemic_in_the_Philippines#Cases_of_Filipino_expatriates' target='_blank' rel='noreferrer noopener') Wikipedia]]]
        div(class='row')
            div(class='col')
                div(class='table__container panel mb-1')
                    table(class='table')
                        thead
                            tr
                                th(scope='col') Region
                                th(scope='col') Confirmed Cases
                                th(scope='col') Deaths
                                th(scope='col') Recovered
                        tbody(class='stats-abroad')

    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Deaths vs Recoveries
        div(class='row')
            div(class='col')
                div(class='panel')
                    canvas(id='deathRecoveredChart' class='chart' width='400' height='200')

    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Active Cases
        div(class='row')
            div(class='col')
                div(class='panel')
                    canvas(id='activeChart' class='chart' width='400' height='200')

    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Total Cases
        div(class='row')
            div(class='col')
                div(class='panel')
                    canvas(id='totalChart' class='chart' width='400' height='200')

append scripts
    script(src='js/stats.js')
    script(src='js/charts.js')
