extends layout/app.pug

block content
    section(class='section section--banner')
        div(class='container mb-1')
            div(class='row')
                div(class='col')
                    h2(class='section__title text-white') Total Stats #[small Updated as of #[em(class='last-update') -]]
            div(class='row')
                div(class='col md-4 mb-1')
                    div(class='panel panel--custom text-center')
                        div(class='panel__counter mb-1 text-default confirmed-cases') -
                        div(class='panel__description text-secondary') Confirmed Cases
                        div(class='badge') Active: #[span(class='active-cases') -]
                div(class='col md-4 mb-1')
                    div(class='panel panel--custom text-center')
                        div(class='panel__counter mb-1 text-danger deaths') -
                        div(class='panel__description text-secondary') Deaths
                        span(class='badge') New: #[span(class='deaths-today') -]
                        span(class='badge') Fatality Rate: #[span(class='fatality-rate') -]
                div(class='col md-4 mb-1')
                    div(class='panel panel--custom text-center')
                        div(class='panel__counter mb-1 text-success recovered') -
                        div(class='panel__description text-secondary') Recovered
                        span(class='badge') New: #[span(class='recovered-today') -]
                        span(class='badge') Recovery Rate: #[span(class='recovery-rate') -]

    section(class='section container')
        div(class='row')
            div(class='col')
                h2(class='section__title') Case Progression
        div(class='row')
            div(class='col')
                div(class='panel')
                    canvas(id='progressionChart' class='chart' width='400' height='200')

append scripts
    script(type="module" src='js/case.js')
    script(type="module" src='js/page-index.js')
