body {
    background-color: var(--color-light);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: var(--font-weight-light);
    color: var(--color-dark);
}

h2 {
    font-weight: var(--font-weight-regular);
}

a {
    text-decoration: none;
}
