.m {
    &b-1 {
        margin-bottom: 1rem;
    }

    &b-2 {
        margin-bottom: 2rem;
    }
}

.text {
    &-center {
        text-align: center;
    }

    &-success {
        color: var(--color-success);
    }

    &-danger {
        color: var(--color-danger);
    }

    &-secondary {
        color: var(--color-secondary);
    }
}
