footer(class='footer')
    div(class='container')
        div(class='row')
            div(class='col footer__container')
                div(class='text-secondary') Made by #[a(class='text-secondary author' href='https://jayveepvalenzuela.github.io' target='_blank' rel='noreferrer noopener') Jayvee Valenzuela]
                ul(class='footer__link-list')
                    li(class='footer__link-list-item')
                        a(class='text-secondary' href='https://github.com/jayveepvalenzuela/covid19-philippines' target='_blank' rel='noreferrer noopener'): i(class='lab la-github')
                    li(class='footer__link-list-item')
                        a(class='text-secondary' href='mailto:jayveevalenzuela@outlook.com'): i(class='las la-envelope')
