footer(class='footer')
    div(class='container')
        div(class='row')
            div(class='col footer__container')
                div(class='text-secondary')
                    a(class='text-secondary' href='https://jayveepvalenzuela.github.io' target='_blank' rel='noreferrer noopener')
                        img(class='footer__author' src='https://jayveepvalenzuela.github.io/assets/img/logo.svg' width='15')
                ul(class='footer__link-list')
                    li(class='footer__link-list-item')
                        a(class='text-secondary' href='https://github.com/jayveepvalenzuela/covid19-philippines' target='_blank' rel='noreferrer noopener'): i(class='lab la-github')
                    li(class='footer__link-list-item')
                        a(class='text-secondary' href='mailto:jayveevalenzuela@outlook.com'): i(class='las la-envelope')
