nav(class='navbar')
    div(class='container')
        div(class='row')
            div(class='col navbar__container')
                a(href='/') COVID-19 PH
                ul(class='navbar__nav-list')
                    li(class='navbar__nav-list-item')
                        a(href='/') Dashboard
