.footer {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-weight: var(--font-weight-regular);

    &__author {
        filter: #{"invert()"} opacity(.5);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link-list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        &-item {
            display: inline-block;
            font-size: 1.5rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}
