.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--color-dark);
    font-weight: var(--font-weight-regular);

    a {
        color: var(--color-white);
        transition: opacity .15s ease-in-out;

        &:hover {
            opacity: .9;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        &-item {
            display: inline-block;
            position: relative;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &.active::before {
                content: '•';
                position: absolute;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                color: var(--color-danger);
            }
        }
    }
}
