.section {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__title {
        small {
            display: block;
            margin-top: .25rem;
            font-size: .9rem;
        }

        a {
            border-bottom: 1px dotted currentColor;
        }
    }

    &--banner {
        background: #171415 url('../img/banner.webp') no-repeat top left;
    }
}
